 <div class="row">
    <h2>Example</h2>
    <div class="card card-block panel panel-default panel-body">      
     
      <div class="row">
        <div class="col-md-4">
            <div class="form-group">
              <div class="form-line">
                 <input *ngIf="config.filtering" placeholder="Filter all columns"
                        [ngTableFiltering]="config.filtering"
                        class="form-control"
                        (tableChanged)="onChangeTable(config)"/>
              </div>
            </div>         
        </div>
      </div>
      <br>
      <studiox-table [config]="config"
                (tableChanged)="onChangeTable(config)"
                (cellClicked)="onCellClick($event)"
                [rows]="rows" [columns]="columns">
      </studiox-table>
      <pagination *ngIf="config.paging"
                  class="pagination-sm pull-right"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
      </pagination>     
    </div>
  </div>